<h1>Iniciar Session</h1>

<form action="/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>

    <br>

    <input type="submit" value="Login">
</form>
<div>
    <a href="/register">No estas registrado? haz click aqui</a>
</div>